Repository python-poetry/poetry, pull requests merged in 2021-09, with the labels that each got.

#4433 Fix the detection of the system environment with custom installer
  install-poetry.py
  poetry/console/commands/env/info.py
  poetry/utils/env.py
  tests/console/commands/env/test_info.py
  tests/utils/test_env.py
Labels: Bug, Virtualenvs

#4507 [1.1] Fix system environment detection
  poetry/inspection/info.py
  poetry/utils/env.py
  tests/utils/test_env.py
Labels: Bug, Virtualenvs

#2351 poetry show <package> now also shows which packages depend on it
  docs/cli.md
  poetry/console/commands/show.py
  tests/console/commands/test_show.py
Labels: CLI, Feature, UX

#4519 Release 1.1.9
  CHANGELOG.md
  poetry.lock
  poetry/__version__.py
  pyproject.toml
Labels: Release

#4529 [1.1] Ensure all hash types are checked
  poetry.lock
  poetry/installation/executor.py
  pyproject.toml
  tests/installation/test_executor.py
Labels: Bug, Installation

#4537 Release 1.1.10
  CHANGELOG.md
  make-nix-release.sh
  poetry/__version__.py
  pyproject.toml
Labels: Release
