Repository python-poetry/poetry, pull requests merged in 2022-11, with the labels that each got.

#6805 match requests pool_maxsize to num workers
  src/poetry/installation/executor.py
  src/poetry/utils/authenticator.py
Labels: area/installer, impact/changelog

#6932 Cache simple repository pages
  src/poetry/repositories/http_repository.py
  src/poetry/repositories/legacy_repository.py
  tests/repositories/test_legacy_repository.py
  tests/repositories/test_single_page_repository.py
Labels: kind/refactor, impact/changelog, area/sources

#6877 Handle distribution.files being None
  src/poetry/utils/env.py
Labels: kind/bug, area/installer, impact/changelog

#6935 ci: use env vars for exporting output
  .github/workflows/main.yml
  .github/workflows/release.yml
Labels: area/ci, impact/backport, backport/1.2

#6832 fix: ensure no duplicate package names are stored in pyproject.toml
  src/poetry/console/commands/add.py
  tests/console/commands/test_add.py
Labels: area/cli, area/error-handling, area/pyproject, impact/changelog

#6942 docs: fix typo in repositories
  docs/repositories.md
Labels: area/docs, impact/backport, impact/docs, backport/1.2

#6562 Use tomli for reading the lock file
  poetry.lock
  pyproject.toml
  src/poetry/console/commands/add.py
  src/poetry/console/commands/remove.py
  src/poetry/packages/locker.py
  src/poetry/utils/_compat.py
  tests/conftest.py
  tests/helpers.py
  tests/packages/test_locker.py
Labels: kind/refactor, area/pyproject

#6723 Clarifies the dev-dependencies -> group.dev.dependencies switch in docs
  docs/managing-dependencies.md
Labels: area/docs, impact/backport, impact/docs, backport/1.2

#7012 docs: update Windows cache path to match 1.2
  docs/configuration.md
Labels: area/docs, impact/backport, impact/docs, backport/1.2

#7070 Cleo 2.0
  poetry.lock
  pyproject.toml
  src/poetry/console/application.py
  src/poetry/console/command_loader.py
  src/poetry/console/commands/command.py
  src/poetry/console/commands/debug/info.py
  src/poetry/console/commands/debug/resolve.py
  src/poetry/console/commands/init.py
  src/poetry/console/commands/show.py
  src/poetry/console/commands/source/show.py
  src/poetry/console/exceptions.py
  src/poetry/console/io/inputs/run_argv_input.py
  src/poetry/mixology/solutions/providers/python_requirement_solution_provider.py
  src/poetry/mixology/solutions/solutions/python_requirement_solution.py
  src/poetry/puzzle/provider.py
  src/poetry/vcs/git/backend.py
  tests/integration/test_utils_vcs_git.py
Labels: area/cli, area/project/deps
