Repository python-poetry/poetry, pull requests merged in 2023-05, with the labels that each got.

#7874 Add details to basic usage docs about setting `VIRTUAL_ENV_DISABLE_PROMPT`
  docs/basic-usage.md
Labels: impact/docs

#6879 6713 Introduce supplemental package source
  docs/cli.md
  docs/dependency-specification.md
  docs/repositories.md
  src/poetry/console/commands/source/add.py
  src/poetry/factory.py
  src/poetry/json/schemas/poetry.json
  src/poetry/repositories/repository_pool.py
  tests/console/commands/source/conftest.py
  tests/console/commands/source/test_add.py
  tests/console/commands/source/test_show.py
  tests/fixtures/with_supplemental_source/pyproject.toml
  tests/json/test_schema_sources.py
  tests/repositories/test_repository_pool.py
  tests/test_factory.py
Labels: impact/changelog, impact/docs, area/sources

#7917 feat: add --lock option to remove command
  docs/cli.md
  src/poetry/console/commands/remove.py
  src/poetry/packages/locker.py
  tests/console/commands/test_remove.py
  tests/helpers.py
Labels: impact/docs

#7081 Add experimental POETRY_REQUESTS_TIMEOUT option
  docs/faq.md
  src/poetry/utils/constants.py
Labels: impact/docs

#7506 Explain whether to commit poetry.lock
  docs/basic-usage.md
Labels: area/docs, impact/docs

#7608 docs:mention enabled venv in virtualenvs.create configuration
  docs/configuration.md
Labels: impact/docs

#7963 preserve relative-path at `poetry run`
  src/poetry/utils/env.py
  tests/utils/test_env.py
Labels: impact/backport, backport/1.5

#7977 fix check for in-project-venv
  src/poetry/utils/env.py
Labels: impact/backport, backport/1.5

#7973 fix: explicit source dependency is not satisfied by direct origin
  docs/dependency-specification.md
  src/poetry/puzzle/provider.py
  tests/installation/test_installer.py
  tests/puzzle/test_provider.py
  tests/puzzle/test_solver.py
Labels: impact/backport, impact/docs, backport/1.5

#8018 docs: Fix a typo in explicit package sources section
  docs/repositories.md
Labels: impact/backport, backport/1.5

#7987 fix: disable wheel content validation
  src/poetry/installation/wheel_installer.py
  tests/installation/test_executor.py
Labels: impact/backport, backport/1.5

#8034 chore: update poetry-core and poetry-plugin-export
  poetry.lock
  pyproject.toml
Labels: impact/backport, backport/1.5
