Repository python-poetry/poetry, pull requests merged in 2023-04, with the labels that each got.

#6845 Add option to skip installing directory dependencies
  docs/cli.md
  docs/faq.md
  src/poetry/console/commands/install.py
  src/poetry/installation/installer.py
  src/poetry/puzzle/transaction.py
  tests/console/commands/test_install.py
  tests/installation/test_installer.py
Labels: area/cli, area/installer, kind/feature, impact/changelog, impact/docs

#7242 pre-commit matches pyproject.toml in subdirs
  .pre-commit-hooks.yaml
  docs/pre-commit-hooks.md
Labels: impact/docs

#6711 Added environment variables for configurations
  docs/configuration.md
Labels: area/docs, impact/backport, impact/docs

#7547 Add --executable option to env info command
  docs/managing-environments.md
  src/poetry/console/commands/env/info.py
  tests/console/commands/env/test_info.py
Labels: impact/docs
