Repository python-poetry/poetry, pull requests merged in 2024-11, with the labels that each got.

#9851 ignore installed packages during solving
  src/poetry/puzzle/provider.py
  src/poetry/puzzle/solver.py
  tests/puzzle/test_solver.py
Labels: area/solver, impact/changelog

#9850 Fix regression when using empty username/password
  docs/repositories.md
  src/poetry/utils/authenticator.py
  src/poetry/utils/password_manager.py
  tests/utils/test_authenticator.py
  tests/utils/test_password_manager.py
Labels: impact/docs, area/sources

#9798 make `allow-prereleases` a tri-state setting to really forbid pre-releases if the setting is `false` and keep default behavior to allow pre-releases only if necessary
  docs/dependency-specification.md
  poetry.lock
  src/poetry/console/commands/add.py
  src/poetry/console/commands/init.py
  src/poetry/console/commands/show.py
  src/poetry/repositories/repository.py
  src/poetry/version/version_selector.py
  tests/repositories/test_repository.py
Labels: impact/docs

#9831 feat(cli)!: actually switch directory with --directory/-C
  docs/cli.md
  src/poetry/console/application.py
  src/poetry/console/commands/init.py
  src/poetry/console/commands/new.py
  tests/console/commands/test_build.py
  tests/console/commands/test_version.py
Labels: impact/changelog, impact/docs

#9864 doc: add documentation for using extension modules
  docs/building-extension-modules.md
Labels: area/docs, impact/docs
