Repository python-poetry/poetry, pull requests merged in 2024-10, with the labels that each got.

#5980 remove circular dependency on export plugin
  .github/workflows/.tests-matrix.yaml
  .pre-commit-hooks.yaml
  docs/cli.md
  poetry.lock
  pyproject.toml
  src/poetry/config/config.py
  src/poetry/console/application.py
  src/poetry/console/commands/config.py
  src/poetry/console/commands/export.py
  tests/console/commands/test_config.py
  tests/console/commands/test_export.py
Labels: impact/docs

#9007 tests: verify PEP 610 compliance for vcs urls
  tests/installation/test_executor.py
Labels: status/waiting-on-core

#9716 docs: pre-commit-update as an alternative to autoupdate
  docs/pre-commit-hooks.md
Labels: impact/docs

#9736 Docs updates
  docs/cli.md
  docs/contributing.md
Labels: impact/docs

#9744 feat(install): add `--all-groups` flag to install all dependency groups
  docs/cli.md
  src/poetry/console/commands/group_command.py
  src/poetry/console/commands/install.py
  tests/console/commands/test_install.py
Labels: impact/docs

#9734 docs: improve explanation of `exclude` and `include`
  docs/pyproject.md
  poetry.lock
Labels: impact/docs

#9787 feat(config)!: rename experimental.system-git-client to system-git-client
  docs/configuration.md
  docs/dependency-specification.md
  src/poetry/config/config.py
  src/poetry/vcs/git/backend.py
  tests/console/commands/test_config.py
  tests/integration/test_utils_vcs_git.py
Labels: impact/changelog

#9783 Document compatible release requirements
  docs/dependency-specification.md
Labels: impact/docs

#9786 feat(config)!: prefer active python by default
  docs/basic-usage.md
  docs/configuration.md
  docs/managing-environments.md
  src/poetry/config/config.py
  src/poetry/console/commands/config.py
  src/poetry/utils/env/env_manager.py
  src/poetry/utils/env/python_manager.py
  tests/console/commands/test_config.py
  tests/console/commands/test_init.py
  tests/console/commands/test_new.py
  tests/utils/env/test_env_manager.py
  tests/utils/test_python_manager.py
Labels: area/docs, impact/changelog, impact/docs

#9814 feat(cli): add --markers to add command
  docs/cli.md
  src/poetry/console/commands/add.py
  tests/console/commands/test_add.py
Labels: impact/changelog, impact/docs
