Repository python-poetry/poetry, pull requests merged in 2024-02, with the labels that each got.

#8791 docs: Update about custom subpackage name in poetry
  docs/pyproject.md
Labels: impact/docs

#8931 Add --sync CLI option to update subcommand
  docs/cli.md
  src/poetry/console/commands/update.py
  tests/console/commands/test_update.py
Labels: impact/docs

#8828 Add `output` option to `build` and `dist-dir` option to `publish` command
  docs/cli.md
  src/poetry/console/commands/build.py
  src/poetry/console/commands/publish.py
  src/poetry/publishing/publisher.py
  src/poetry/publishing/uploader.py
  tests/console/commands/test_build.py
  tests/console/commands/test_publish.py
  tests/fixtures/with_multiple_dist_dir/README.rst
  tests/fixtures/with_multiple_dist_dir/dist/simple_project-1.2.3-py2.py3-none-any.whl
  tests/fixtures/with_multiple_dist_dir/dist/simple_project-1.2.3.tar.gz
  tests/fixtures/with_multiple_dist_dir/other_dist/dist/simple_project-1.2.3-py2.py3-none-any.whl
  tests/fixtures/with_multiple_dist_dir/other_dist/dist/simple_project-1.2.3.tar.gz
  tests/fixtures/with_multiple_dist_dir/pyproject.toml
  tests/fixtures/with_multiple_dist_dir/simple_project/__init__.py
Labels: impact/docs

#8650 Introduce non-package-mode
  docs/basic-usage.md
  docs/pyproject.md
  src/poetry/console/commands/build.py
  src/poetry/console/commands/install.py
  src/poetry/console/commands/publish.py
  tests/console/commands/test_build.py
  tests/console/commands/test_check.py
  tests/console/commands/test_install.py
  tests/console/commands/test_publish.py
  tests/fixtures/non_package_mode/pyproject.toml
  tests/test_factory.py
Labels: impact/docs

#8971 Docs: state a limitation of `develop` attribute
  docs/cli.md
Labels: impact/docs

#9031 deps: require packaging >= 23.1 for packaging.metadata
  poetry.lock
  pyproject.toml
Labels: backport/1.8

#9030 lazy-wheel: handle internal server error and others
  src/poetry/inspection/lazy_wheel.py
  tests/inspection/test_lazy_wheel.py
Labels: backport/1.8

#9046 non-package-mode: fix `poetry add`
  src/poetry/console/commands/add.py
  tests/console/commands/test_add.py
Labels: backport/1.8

#9051 harden lazy wheel wheel error handling
  src/poetry/inspection/lazy_wheel.py
  src/poetry/repositories/http_repository.py
  tests/conftest.py
  tests/helpers.py
  tests/inspection/test_lazy_wheel.py
  tests/types.py
Labels: backport/1.8

#9059 repo/http: add debug log for lazy wheel error
  src/poetry/repositories/http_repository.py
Labels: backport/1.8

#9060 cmd/shell: fix incorrect documentation
  docs/cli.md
  src/poetry/console/commands/shell.py
Labels: area/docs, impact/docs

#9064 build: allow specifying local version label
  docs/cli.md
  src/poetry/console/commands/build.py
  tests/console/commands/test_build.py
Labels: area/cli
