Repository python-poetry/poetry, pull requests merged in 2024-04, with the labels that each got.

#9256 docs: clarify python version usage
  docs/basic-usage.md
Labels: impact/docs

#9215 [1.8 backport] Add example for dependency with multiple extras
  docs/pyproject.md
Labels: area/docs, impact/docs

#9220 [1.8 backport] handle trailing slash in git url
  src/poetry/vcs/git/backend.py
  tests/vcs/git/test_backend.py
Labels: kind/bug, area/deps

#9320 Update pipx plugin uninstall docs
  docs/plugins.md
Labels: impact/docs

#9302 self install: in this context the project is not a package so we should set package-mode
  src/poetry/console/commands/self/self_command.py
  tests/console/commands/self/test_install.py
Labels: impact/backport, backport/1.8

#9335 fix race condition and KeyError exception in executor
  src/poetry/installation/executor.py
Labels: impact/backport, backport/1.8
