Repository python-poetry/poetry, pull requests merged in 2025-02, with the labels that each got.

#10133 doc(scripts): multiple improvements on configuring scripts
  docs/pyproject.md
Labels: area/docs, impact/docs

#10104 docs: add additional information on specifying required python versions
  docs/pyproject.md
Labels: impact/docs

#10134 chore(cli): deprecate default source priority
  docs/cli.md
  src/poetry/console/commands/source/add.py
  tests/console/commands/source/test_add.py
Labels: area/cli, impact/docs, impact/deprecation, area/sources

#10129 feat(config): installer.build-config-settings.pkg
  docs/configuration.md
  src/poetry/config/config.py
  src/poetry/console/commands/config.py
  src/poetry/installation/chef.py
  src/poetry/installation/executor.py
  tests/config/test_config.py
  tests/console/commands/test_config.py
  tests/installation/test_executor.py
Labels: area/installer, area/config, impact/docs

#10135 feat(cli): default new command to src layout
  docs/cli.md
  src/poetry/console/commands/new.py
  tests/console/commands/conftest.py
  tests/console/commands/test_new.py
Labels: area/cli, impact/docs

#10112 feat(cli): introduce python management commands
  docs/cli.md
  docs/configuration.md
  poetry.lock
  pyproject.toml
  src/poetry/config/config.py
  src/poetry/console/application.py
  src/poetry/console/commands/python/__init__.py
  src/poetry/console/commands/python/install.py
  src/poetry/console/commands/python/list.py
  src/poetry/console/commands/python/remove.py
  src/poetry/utils/env/python/installer.py
  src/poetry/utils/env/python/manager.py
  src/poetry/utils/env/python/providers.py
  tests/conftest.py
  tests/console/commands/python/__init__.py
  tests/console/commands/python/test_python_install.py
  tests/console/commands/python/test_python_list.py
  tests/console/commands/python/test_python_remove.py
  tests/console/commands/test_config.py
  tests/types.py
  tests/utils/env/python/__init__.py
  tests/utils/env/python/test_manager.py
  tests/utils/env/python/test_python_installer.py
  tests/utils/env/python/test_python_providers.py
Labels: area/cli, impact/docs, area/python
