Repository python-poetry/poetry, pull requests merged in 2025-01, with the labels that each got.

#9801 introduce `sync` command and deprecate `install --sync`
  docs/cli.md
  src/poetry/console/application.py
  src/poetry/console/commands/install.py
  src/poetry/console/commands/self/install.py
  src/poetry/console/commands/self/sync.py
  src/poetry/console/commands/sync.py
  tests/console/commands/self/test_install.py
  tests/console/commands/self/test_sync.py
  tests/console/commands/test_install.py
  tests/console/commands/test_sync.py
Labels: impact/docs

#9948 Fix sections in pyproject.toml docs
  docs/pyproject.md
Labels: impact/docs

#9935 Document that package sources are ignored by Pip
  docs/repositories.md
Labels: impact/docs

#9989 Documentation update to mention that project.name config is always required
  docs/pyproject.md
Labels: impact/docs

#9949 feat(search): search all repositories
  docs/cli.md
  src/poetry/console/commands/search.py
  src/poetry/repositories/abstract_repository.py
  src/poetry/repositories/legacy_repository.py
  src/poetry/repositories/link_sources/html.py
  src/poetry/repositories/pypi_repository.py
  src/poetry/repositories/repository.py
  src/poetry/repositories/repository_pool.py
  tests/console/commands/test_search.py
  tests/repositories/fixtures/legacy/sqlalchemy-legacy.html
Labels: area/cli, area/docs, impact/docs, area/sources

#9996 doc(faq): add entry for PEP 621 migration
  docs/faq.md
Labels: area/docs/faq, impact/docs

#10016 fix: `update`, `add` and `remove` shall not uninstall extra dependencies
  docs/cli.md
  src/poetry/puzzle/transaction.py
  tests/installation/test_installer.py
  tests/puzzle/test_transaction.py
Labels: impact/docs

#10027 doc(cli): add missing docs for env command
  docs/cli.md
Labels: area/docs, impact/docs

#10035 doc(cli): reorder sections and unify heading
  docs/cli.md
Labels: area/docs, impact/docs

#10053 feat(app): add better error for removed commands
  src/poetry/console/application.py
  tests/conftest.py
  tests/console/test_application_removed_commands.py
  tests/types.py
Labels: area/cli, area/error-handling, area/ux

#10070 chore(doc): update Prezto completion
  docs/_index.md
Labels: impact/docs

#10067 fix(app): improve global opt and run cmd parsing
  src/poetry/console/application.py
  src/poetry/console/io/__init__.py
  src/poetry/console/io/inputs/__init__.py
  src/poetry/console/io/inputs/run_argv_input.py
  tests/console/commands/test_run.py
  tests/console/test_application.py
Labels: area/cli

#10100 chore(ci): reduce cirrus usage
  .cirrus.yml
Labels: area/ci

#10088 feat(auth): allow passwords with empty usernames
  docs/repositories.md
  src/poetry/utils/password_manager.py
  tests/conftest.py
  tests/utils/test_authenticator.py
  tests/utils/test_password_manager.py
Labels: area/docs, impact/docs, area/auth, area/auth/keyring

#10116 chore(doc): add a heading for git credentials
  docs/dependency-specification.md
Labels: impact/docs

#10121 Update gui-scripts section [docs]
  docs/pyproject.md
Labels: impact/docs

#10119 fix(locker): extras should preserve markers
  src/poetry/packages/locker.py
  tests/installation/fixtures/with-pypi-repository.test
  tests/packages/test_locker.py
Labels: area/deps

#10118 chore(test): allow fixture helper to generate lock
  tests/installation/test_installer.py
Labels: area/testing

#10128 fix(cli): sort global opts prior to io config
  src/poetry/console/application.py
  tests/console/test_application_global_options.py
Labels: kind/bug, area/cli

#10127 fix(ux): improve command not found errors
  src/poetry/console/application.py
  tests/console/test_application.py
  tests/console/test_application_command_not_found.py
  tests/console/test_application_removed_commands.py
Labels: area/error-handling, area/ux
